.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    flex-direction: column;
}

.table-container {
    max-width: 80%;
    margin: auto;
    overflow-x: auto;
}



.MuiPaper-root {
    overflow-x: auto;
}


.MuiTable-root {
    width: 100%;
    table-layout: fixed;
}

@media (max-width: 768px) {
    .table-container {
      max-width: 100%; 
      margin: 0; 
    }
    .MuiTable-root {
        min-width: 450px;
    }
    .container {
        min-height: 0;
    }
  
    .MuiTable-root .MuiTableCell-root {
      padding: 4px; 
      font-size: 0.875rem; 
    }
  
   
    .MuiTableContainer-root .MuiPaper-root {
      overflow-x: auto; 
      box-shadow: none; 
    }

    .MuiPaginationItem-root {
        min-width: 32px; 
      }
      
  }
  